.profile{

  padding-top: 50px;
  padding-left: 150px;
}
.a{
  background-color: white;
  color: red;
}
h1{
  text-align: center;
}
Link{
  color: blue;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.auth-form{
  border: 1px solid silver;
  border-radius: 5px;
  padding-bottom: 20px;
  box-shadow: 1px 5px 5px 5px #888888;
}
